body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: ;
}

#bandeira{
    border: solid 2px black;
    width: 450px;
    height: 297px;
    background-color: rgba(23, 91, 240);
}

#faixa1{

    margin-top: 33px;
    background-color: white;
    width: 100%;
    height: 33px;
}
#faixa2{
    margin-top: 33px;
    background-color: white;
    width: 100%;
    height: 33px;
}
#faixa3{
    margin-top: 33px;
    background-color: white;
    width: 100%;
    height: 33px;
}
#faixa4{
    margin-top: 35px;
    background-color: white;
    width: 100%;
    height: 33px;
}
#quadrado{
    display: flex;
    align-items: center;
    position: absolute;
    width: 165px;
    height: 165px;
    background-color: rgba(23, 91, 240);
}

#x1{
    width: 100%;
    height: 33px;
    background-color: white;

}

#x2{
    width: 33px;
    height: 100%;
    background-color: white;
    margin-left: -100px;

}